ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  opacity: 0;
  animation: slideIn 0.5s ease forwards;
}

li {
  background-color: #ffffff;
  border: 0.1vw solid #cccccc;
  border-radius: 1vw;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin: 0.5vw;
  padding: 1vw;
  width: 10vw;
  display: inline-block;
  vertical-align: top;
  font-size: 1vw;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  } /* animate from -50px in the Y axis */
  to {
    transform: translateY(0);
    opacity: 1;
  } /* to 0 in the Y axis and opacity 1 */
}
