.uvi-container {
  display: inline-block;
  opacity: 0;
  animation: slideIn 0.5s ease forwards;
}

.UVindex,
.UVsunburn,
.UVspf {
  background-color: #f9d9c3;
  border-radius: 1vw;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1vw;
  margin: 1vw;
  padding: 1vw;
}

.UVindex p,
.UVsunburn p,
.UVspf p {
  margin: 0;
}

.UVindex .UVnumber {
  border-radius: 3vw;
  color: white;
  display: inline-block;
  font-size: 1vw;
  font-weight: bold;
  height: 6vh;
  line-height: 6vh;
  margin-left: 1vw;
  text-align: center;
  width: 6vh;
}

.UVsunburn {
  background-color: #ff6666;
  border-radius: 1.25vw;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1vw;
  margin: 1vw;
  padding: 1vw;
  color: white;
  height: 6vh;
}

.UVsunburn p {
  margin: 0;
}

.UVspf {
  background-color: #ff6666;
  border-radius: 1.25vw;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1vw;
  margin: 1vw;
  padding: 1vw;
  color: white;
  height: 6vh;
}

.white-background {
  background-color: rgba(255, 255, 255, 0.8);
  width: 7vw;
  border-radius: 100%;
}

@keyframes slideIn {
  from {
    transform: translateY(-6.25vh);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
