.uvi-container {
  display: flex;
  align-items: center;
  opacity: 0;
  animation: slideIn 0.5s ease forwards;
}

.UVindex,
.UVsunburn {
  background-color: rgba(216, 240, 255, 0.5);
  border-radius: 1vw;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1vw;
  padding: 1vw;
  margin: 0;
  transition: transform 0.2s;
}

.UVsunburn:hover {
  transform: scale(1.05);
}
.UVindex:hover {
  transform: scale(1.05);
}

.UVcircular {
  display: inline-block;
}
.UVindex p,
.UVsunburn p {
  margin: 0;
}

.UVsunburn p {
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.UVindex .UVnumber {
  border-radius: 3vw;
  color: white;
  display: inline-block;
  font-size: 1vw;
  font-weight: bold;
  height: 6vh;
  line-height: 6vh;
  margin-left: 1vw;
  text-align: center;
  width: 6vh;
}

.UVsunburn {
  background-color: rgba(216, 240, 255, 0.5);
  border-radius: 1.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 1vw;
  margin: 1vw;
  padding: 1vw;
  height: 6vh;
}

.white-background {
  background-color: rgba(216, 240, 255, 0.5);
  width: 4vw;
  border-radius: 100%;
}

@keyframes slideIn {
  from {
    transform: translateY(-6.25vh);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .uvi-container {
    flex-direction: column;
  }
  .UVindex,
  .UVsunburn {
    font-size: 3vw;
    padding: 1.5vw;
  }
  .UVindex {
    padding-top: 1.3vh;
    padding-bottom: 1.2vh;
  }
  .UVsunburn {
    padding-top: 1.1vh;
    padding-bottom: 1.2vh;
  }
  .white-background {
    width: 12vw;
  }
}
