.uvi-container {
  display: inline-block;
  opacity: 0;
  animation: slideIn 0.5s ease forwards;
}

.UVindex,
.UVsunburn,
.UVspf {
  background-color: #f9d9c3;
  border-radius: 10px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
}

.UVindex p,
.UVsunburn p,
.UVspf p {
  margin: 0;
}

.UVindex .UVnumber {
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  text-align: center;
  width: 50px;
}

.UVsunburn {
  background-color: #ff6666;
  border-radius: 10px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  color: white;
  height: 50px;
}

.UVsunburn p {
  margin: 0;
}

.UVspf {
  background-color: #ff6666;
  border-radius: 10px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  color: white;
  height: 50px;
}

.white-background {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  border-radius: 100%;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  } /* animate from -50px in the Y axis */
  to {
    transform: translateY(0);
    opacity: 1;
  } /* to 0 in the Y axis and opacity 1 */
}
